body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/images/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* Or fixed */
    top: 20px; /* y-coordinate */
    left: 50%; /* x-coordinate */
    transform: translateX(-50%); /* Center horizontally */
    width: 100%;
}



.container {
    opacity: 0.7;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

button {
    background-color: #F38071;
    color: white;
    cursor: pointer;
    border:none
}

button:hover {
    background-color: #F0604D;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done {
    text-decoration: line-through;
    color: #999;
}

li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}
.priority-tag {
    padding: 5px 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.priority-low {
    background-color: rgba(40, 167, 69, 0.5);
    color: white;
    border: 2px solid #28a745;
}

.priority-medium {
    background-color: rgba(255, 193, 7, 0.5); 
    color: white;
    border: 2px solid #ffc107;
}

.priority-high {
    background-color: rgba(208, 13, 33, 0.6);
    color: white;
    border: 2px solid #dc3545;
}
#add-task-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #F38071;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#add-task-button:hover {
    background-color: #F0604D;
}
/* General styles */

.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



.widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.widget {
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 10px;
    cursor: move;
}

.clock-widget {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}


.news-widget {
    width: 400px;
    min-height: 200px;
    padding: 20px;
}
#settings-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.5s;
}

#settings-button.rotate {
    animation: rotate 0.5s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}